<table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="m_6974325095101524324bodyTable" style="border-collapse:collapse;height:100%;margin:0;padding:0;width:100%;background-color:#ffffff;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover">
    <tbody>
    <tr>
        <td align="left" valign="top" id="m_6974325095101524324bodyCell" style="height:100%;margin:0;padding:10px;width:100%;border-top:0">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_6974325095101524324templateContainer" style="border-collapse:collapse;max-width:600px;border:0">
                <tbody>
                <tr>
                    <td valign="top" id="m_6974325095101524324templateHeader" style="border-top:20px solid #ffffff;border-bottom:0">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
                            <tbody>
                            <tr>
                                <td valign="top" style="padding:9px">
                                    <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" style="min-width:100%;border-collapse:collapse">
                                        <tbody>
                                        <tr>
                                            <td valign="top" style="padding-right:9px;padding-left:9px;padding-top:0;padding-bottom:0">
                                                {# <a href="{{ backoffice_url }}" title="" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://flowxo.com&amp;source=gmail&amp;ust=1639845805429000&amp;usg=AOvVaw0w5Y8Bihg-lxudBDRPstU6">
                                                    <img align="left" alt="" src="https://ci3.googleusercontent.com/proxy/9qciIF6cVK5KbPoTJ1d3kH6hsLnMri-CHmZWp1Jin76qsEM8Aa26eh89dbcvtxpmvMXUoDVwOtmDT5ytT-F6kTW7Wy-kCfu4L4t_UTdGpon3RLyyfnZfPOo1K7TjdIVUxmBXyImwDtrc3SIifdtdZLaxT5WNlRAMxes=s0-d-e1-ft#https://gallery.mailchimp.com/508ed692095d0b21c85014399/images/990d29e0-0cff-49ab-aaff-00b23a7fcee4.png" width="50" style="max-width:100px;padding-bottom:0;display:inline!important;vertical-align:bottom;border:0;height:auto;outline:none;text-decoration:none" class="m_6974325095101524324mcnRetinaImage CToWUd">
                                                </a> #}
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td valign="top" id="m_6974325095101524324templateBody" style="border-top:0;border-bottom:0">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
                            <tbody>
                            <tr>
                                <td valign="top" style="padding-top:9px">
                                    <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%" class="m_6974325095101524324mcnTextContentContainer">
                                        <tbody>
                                        <tr>
                                            <td valign="top" class="m_6974325095101524324mcnTextContent" style="padding:0px 18px 9px;font-size:18px;word-break:break-word;color:#555555;font-family:Arial,'Helvetica Neue',Helvetica,sans-serif;line-height:150%;text-align:left">
                                                <p style="margin:10px 0;padding:0;color:#555555;font-family:Arial,'Helvetica Neue',Helvetica,sans-serif;font-size:18px;line-height:150%;text-align:left"> Hello {{ user.givenName }} {{ user.familyName }}, <br>
                                                    <br>
                                                    <strong>Join us on Ashnoo</strong>
                                                    <br>
                                                    <br>You've been registered on Ashnoo. Please confirm your registration.<br>
                                                    <br> To do that, <a href="{{ backoffice_url ~ '/#/confirm_email?token=' ~ user.confirmationToken }}" style="color:#67c18e;font-weight:normal;text-decoration:underline" target="_blank" data-saferedirecturl="{{ backoffice_url ~ '/#/confirm_email?token=' ~ user.confirmationToken }}">please click here to accept.</a>. <br>
                                                    <br>
                                                    <br>
                                                    <br> Thank you, <br> From all of us at Ashnoo
                                                </p>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        {#<table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
                            <tbody>
                            <tr>
                                <td valign="top" style="padding-top:9px">
                                    <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%" class="m_6974325095101524324mcnTextContentContainer">
                                        <tbody>
                                        <tr>
                                            <td valign="top" class="m_6974325095101524324mcnTextContent" style="padding:0px 18px 9px;color:#999999;word-break:break-word;font-family:Arial,'Helvetica Neue',Helvetica,sans-serif;font-size:18px;line-height:150%;text-align:left"> ↪ Please like us on <a href="https://www.facebook.com/flowxo" style="color:#4267b2!important;font-weight:normal;text-decoration:underline" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.facebook.com/flowxo&amp;source=gmail&amp;ust=1639845805429000&amp;usg=AOvVaw1y2915DUq9dteqkty2R0nU">Facebook</a>, and review us on <a href="https://www.trustpilot.com/evaluate/flowxo.com" style="color:#00b67a!important;font-weight:normal;text-decoration:underline" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.trustpilot.com/evaluate/flowxo.com&amp;source=gmail&amp;ust=1639845805429000&amp;usg=AOvVaw20DOsl7618aScteIyXuQCT">Trustpilot</a>
                                                <br>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table> #}
                    </td>
                </tr>
                <tr>
                    <td valign="top" id="m_6974325095101524324templateFooter" style="border-top:20px solid #ffffff;border-bottom:10px solid #ffffff">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
                            <tbody>
                            <tr>
                                <td valign="top" style="padding-top:9px">
                                    <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%" class="m_6974325095101524324mcnTextContentContainer">
                                        <tbody>
                                        <tr>
                                            <td valign="top" class="m_6974325095101524324mcnTextContent" style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#999999;font-family:Helvetica;font-size:13px;line-height:150%;text-align:left"> Email sent automatically about a <a href="{{ backoffice_url }}" style="color:#999999;font-weight:normal;text-decoration:underline" target="_blank" data-saferedirecturl="{{ backoffice_url }}">Ashnoo account</a>
                                                <br>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>